<h3 *ngIf="taskLists.length > 0">Twoje listy zadań</h3>

<div class="tasklists-field" *ngIf="taskLists.length > 0">
    <div class="line"></div>
    <a *ngFor="let t of taskLists; index as i" (click)="goToChild(i)"
        class="single-tasklist-field">
        <div class="date">{{formatDateString(t)}}</div>
        <p>{{t.name}}</p>
    </a>
</div>

<div class="center" *ngIf="taskLists.length === 0">
    <h4>Nie masz żadnych List Zadań</h4>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" onclick="openModal(0)">
        <i class="material-icons">add</i>
    </a>
</div>

<div class="modal">
    <app-edit-tasklists [(taskList)]="currentlyInEdit" [title]="'Dodaj Listę Zadań'"></app-edit-tasklists>
    <div class="modal-footer">
        <button onclick="closeModal(0)" class="btn btn-flat">Anuluj</button>
        <button (click)="addTaskList()" class="btn btn-flat">Dodaj</button>
    </div>
</div>