<div class="container">
    <div class="input-field">
        <input id="title" type="text" class="validate" (change)="onChange()" />
        <label for="title">Tytuł zadania</label>
    </div>
    <div class="input-field">
        <textarea id="text" class="materialize-textarea" (input)="onChange()"></textarea>
        <label for="text">Treść zadania</label>
    </div>
    <div class="input-field">
        <select id="max" (change)="onChange()">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
</div>