<div class="row mail-field">
    <label>
        <input class="chbox filled-in" type="checkbox" />
        <span></span>
   </label>
    <div class="sender-circle">
        <div class="circle-with-letter">B</div>
    </div>
    <div class="sender-name text-field"><p>Biuro</p></div>
    <div class="mail-title text-field">Złożenie wniosku o stypendium</div>
    <div class="mail-content text-field">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
    <div class="date">12.01</div>
</div>

<div class="row mail-field">
    <label>
        <input class="chbox filled-in" type="checkbox" />
        <span></span>
   </label>
    <div class="sender-circle">
        <div class="circle-with-letter">B</div>
    </div>
    <div class="sender-name text-field"><p>Biuro</p></div>
    <div class="mail-title text-field">Złożenie wniosku o stypendium</div>
    <div class="mail-content text-field">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
    <div class="date">12.01</div>
</div>

<div class="row mail-field">
    <label>
        <input class="chbox filled-in" type="checkbox" />
        <span></span>
   </label>
    <div class="sender-circle">
        <div class="circle-with-letter">B</div>
    </div>
    <div class="sender-name text-field"><p>Biuro</p></div>
    <div class="mail-title text-field">Złożenie wniosku o stypendium</div>
    <div class="mail-content text-field">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
    <div class="date">12.01</div>
</div>

<div class="row mail-field">
    <label>
        <input class="chbox filled-in" type="checkbox" />
        <span></span>
   </label>
    <div class="sender-circle">
        <div class="circle-with-letter">B</div>
    </div>
    <div class="sender-name text-field"><p>Biuro</p></div>
    <div class="mail-title text-field">Złożenie wniosku o stypendium</div>
    <div class="mail-content text-field">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
    <div class="date">12.01</div>
</div>

<div class="row mail-field">
    <label>
        <input class="chbox filled-in" type="checkbox" />
        <span></span>
   </label>
    <div class="sender-circle">
        <div class="circle-with-letter">B</div>
    </div>
    <div class="sender-name text-field"><p>Biuro</p></div>
    <div class="mail-title text-field">Złożenie wniosku o stypendium</div>
    <div class="mail-content text-field">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
    <div class="date">12.01</div>
</div>

<div class="row mail-field">
    <label>
        <input class="chbox filled-in" type="checkbox" />
        <span></span>
   </label>
    <div class="sender-circle">
        <div class="circle-with-letter">B</div>
    </div>
    <div class="sender-name text-field"><p>Biuro</p></div>
    <div class="mail-title text-field">Złożenie wniosku o stypendium</div>
    <div class="mail-content text-field">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
    <div class="date">12.01</div>
</div>