<div class="centerized">
    <div class="row col s6">
        <div class="input-field">
            <input placeholder="Email" id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <input placeholder="Password" id="password" type="password" class="validate">
            <label for="password">Password</label>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary green" (click)="loginClicked()" >Log In</button>
    </div>
</div>