<div class="relative">
	<div class="row uprow no-margins relative" id="navbar">
		
		<div class="col s1">
			<img class="logo" src="assets/images/logoFDNT-2.png" alt="logo">
		</div>
		
		<div class="col s8 left no-margins no-padding">
			<div class="input-field col s10 offset-s1 no-margins no-padding">
			<i class="tiny material-icons prefix">search</i>
			<input id="icon_prefix" type="text" class="validate" placeholder="Search...">
			</div>
		</div>
		
		<div class="account-letter" (click)="logOut()" >P</div>
	</div>

	<div class="relative" (window:resize)="onResize($event)" >
		<div class="sidebar" style="float:left;">
			<ul>
				<li id="news"><a [routerLink]="[{outlets:{main: ['news']}}]" href="/">Ogłoszenia</a></li>
				<li id="calendar"><a [routerLink]="[{outlets:{main: ['calendar'], sidebar: ['calendar']}}]" href="/calendar">Kalendarz</a></li>
				<li id="tasklist"><a [routerLink]="[{outlets:{main: ['tasklists']}}]" href="/tasklists">Lista zadań</a></li>
				<li id="mail"><a [routerLink]="[{outlets:{main: ['mail'], sidebar: ['mail']}}]" href="/mail">Poczta</a></li>
			</ul>
			<div class="line"></div>
			<router-outlet name="sidebar"></router-outlet> 
		</div>
		<div class="fixed-content" style="float:left; overflow-y: auto; text-align: center" id="content">
			<router-outlet name="main"></router-outlet>
		</div>
		<div style="clear:both"></div>
	</div>

</div>	