<div class="relative">
	<div class="row uprow no-margins relative" id="navbar">
		
		<div class="col s2">
			<div class="titleSpan">Desktop FNDT</div>
		</div>
		
		<div class="col s8 left no-margins no-padding">
			<div class="input-field col s10 offset-s1 no-margins no-padding">
			<i class="tiny material-icons prefix">search</i>
			<input id="icon_prefix" type="text" class="validate" placeholder="Search...">
			</div>
		</div>
		
		<div class="col s2">
			<div class="right">
				<span class="account-letter">P</span>
			</div>
		</div>
	</div>

	<div class="relative" (window:resize)="onResize($event)" >
		<div class="sidebar" style="float:left;">
			<ul>
				<li><a href="/">Ogłoszenia</a></li>
				<li><a href="/calendar">Kalendarz</a></li>
				<li><a href="/tasklist">Lista zadań</a></li>
				<li><a href="/mail">Poczta</a></li>
			</ul>
		</div>
		<div class="fixed-content" style="float:left; overflow-y: auto; text-align: center" id="content">
			<router-outlet></router-outlet>
		</div>
		<div style="clear:both"></div>
	</div>

</div>	