<div class="row">
    <div class="col s8 offset-s2">
        <div *ngFor="let item of posts" class="post-field" [style]="getStyle(item)">
            <div class="post-title">
                <p>{{item.title}}</p>
            </div>
        </div>
        <a href="#">
            <div class="post-field" style="background-image: url(../../assets/images/totus-tuus.jpg);">
                <div class="post-title">
                    <p>Konferencja Naukowa "Totus Tuus"</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="post-field" style="background-image: url(../../assets/images/akatyst.jpg);">
                <div class="post-title">
                    <p>Filma Artystyczny Teatru Franciszka</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li><a class="btn-floating red"><i class="material-icons">add</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">edit</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        </ul>
</div>
<div id="edit-post" class="modal">
    <ejs-richtexteditor id='test'>
        <ng-template #valueTemplate>
        </ng-template>
    </ejs-richtexteditor>
</div>