<h3>lista zadań do wykonania na Dzień Papieski</h3>

<div class="tasks-field collapsible">
    <div class="line"></div>

    <div>szczegóły:
        <div> Lista zadań do wydarzenia: "Dzień papieski"</div>
        <div class="date">data: 19.10.2021r.</div>
        <div> </div>
    </div>
    <div class="line"></div>

    <div class="single-task-field collapsible-header">
        <div class="date">13.01.2021 r.</div>
        <p>Zadnie nr 1</p>
        <div class="participants">
            <p>osoby: </p>
            <p>0</p>
            <i class = "material-icons">add_circle_outline</i>
        </div>
        <i class = "more-options material-icons">more_vert</i>
    </div>

    <div class="task-details-field collapsible-body">
        <div class="description-field">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
            enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

        <div class="participants-list">
            osoby przypisane do zadania:
            <ul>
                <li>Jan Kowalski</li>
                <li>Anna Nowak</li>
            </ul>
        </div>

    </div>
    

    <div class="single-task-field">
        <div class="date">13.01.2021 r.</div>
        <p>Zadnie nr 2</p>
        <div class="participants">
            <p>osoby: </p>
            <p>1</p>
            <i class = "material-icons">add_circle_outline</i>
        </div>
        <i class = "more-options material-icons">more_vert</i>
    </div>

    <div class="single-task-field">
        <div class="date">13.01.2021 r.</div>
        <p>Zadnie dla 3 osób</p>
        <div class="participants">
            <p>osoby: </p>
            <p>3</p>
            <i class = "material-icons">add_circle_outline</i>
        </div>
        <i class = "more-options material-icons">more_vert</i>
    </div>

    <div class="single-task-field">
        <div class="date">13.01.2021 r.</div>
        <p>Akcja świadectw</p>
        <div class="participants">
            <p>osoby: </p>
            <p>12</p>
            <i class = "material-icons">add_circle_outline</i>
        </div>
        <i class = "more-options material-icons">more_vert</i>
    </div>


</div>
