h3{
    margin-bottom: 30px;
    font-size: 40px;
    color: #23232393;
    font-weight: 200;
}
.tasks-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.single-task-field{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    border:  0.5px solid #eedea566;
    border-left: 10px solid red;
    border-radius: 5px;
    color: #000;
}
.line{
    width: 90%;
    border-bottom: 1px solid #23232333;
    margin-bottom: 50px;
}
.single-task-field .date{
    width: 20%;
}
.single-task-field p{
    width: 50%;
    text-align: left;
    font-weight: 500;
}
.participants{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-options{
    width: 10%;
    color: #23232393;
}
.single-task-field:hover{
    box-shadow: 2px 5px 10px#23232333;
    background-color: #dbd5c011;
}

.collapsible{
    width: 90%;
    box-shadow: none;
    border: none;
}
.task-details-field{
    justify-content: space-between;
    margin-bottom: 40px;
}
.task-details-field .description-field{
    font-size: 13px;
    text-align: left;
}

.task-details-field .participants-list{
    font-size: 13px;
    color: #23232393;
    
}
.task-details-field .participants-list ul{
    text-align: center;
}
.task-details-field .participants-list li{
    display: flex;
    flex-wrap: nowrap;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.task-details-field .participants-list li p{
    margin: 0;
}
.done-icon{
    color: #15cf24;
}
.done-button-field{
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.done-button-field p{
    margin-right: 10px;
    color: #fff;
}
.done-button-field:hover p{
    color: #23232373;
}
.dropdown-trigger.btn{
    background-color: #ffffff00;
    box-shadow: none;
}
.collapsible .dropdown-content{
    min-width: 130px;
    width: 130px;
}
.dropdown-content li>a{
    display: flex;
}



svg.radial-progress {
    height: auto;
    max-width: 50px;
    transform: rotate(-90deg);
    width: 100%;
    border-radius: 50%;
  }
  svg.radial-progress:hover {
    box-shadow: 0 0 10px #23232323;
  }
  
  svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129; 
    stroke-width: 10;
  }
  
  svg.radial-progress circle.incomplete { opacity: 0.25; }
  
  svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
  
  svg.radial-progress text {
    fill: #232323d8;
    text-anchor: middle;
    font-size: 18px;
  }
  svg.radial-progress circle { stroke: gainsboro; }
