<div class="mailbox-sidebar">
    <a class="selected" href="#">
        <i class = "material-icons">inbox</i>
        <p>Odebrane</p>
    </a>
    <a href="#">
        <i class = "material-icons">insert_drive_file</i> 
        <p>Robocze</p>
    </a>
    <a href="#">
        <i class = "material-icons">send</i> 
        <p>Wysłane</p>
    </a>
    <a href="#">
        <i class = "material-icons">block</i>
        <p>Spam</p>
    </a>
    <a href="#">
        <i class = "material-icons">delete</i> 
        <p>Kosz</p>
    </a>
</div>
